<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>许愿堂-西电睿思BBS</title>
<meta name='keywords' content='' />
<meta name='description' content='' />
<meta name="author" content="毕凯" />
<meta name="robots" content="index,follow" />
<!-- Styles -->
<link rel="stylesheet" type="text/css" media="all" href="./css/global.css" />
<link rel="stylesheet" href="./css/flexslider.css" type="text/css" media="screen" />
<link rel="stylesheet" href="./css/entypo.css" type="text/css" media="all" />
<!--[if IE 7]><link rel="stylesheet" type="text/css" href="./css/all-ie-only.css" /><![endif]-->
<!--[if IE 8]><link rel="stylesheet" type="text/css" href="./css/ie8.css" /><![endif]-->
<!--[if IE 9]><link rel="stylesheet" type="text/css" href="./css/ie8.css" /><![endif]-->
<!-- Fonts -->
<script type="text/javascript" src="./js/pes6eai.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<!-- Mobile -->
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
<!-- 1140px Grid styles for IE -->
<!--[if lte IE 9]><link rel="stylesheet" href="./css/ie.css" type="text/css" media="screen" /><![endif]-->
<!-- The 1140px Grid -->
<link rel="stylesheet" href="./css/1140.css" type="text/css" media="screen" />
<!--css3-mediaqueries-js - http://code.google.com/p/css3-mediaqueries-js/ - Enables media queries in some unsupported browsers-->
<script type="text/javascript" src="./js/css3-mediaqueries.js"></script>
<!-- Jquery -->    
<script src="./js/jquery.min.js"></script> 
<!-- Modernizr -->
<script src="./js/modernizr.min.js"></script>
<!-- Analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-26178466-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>


<body class="loading"> 
<section id="services">
<section id="container">
	<div class="row">
    <h5>Services</h5>
     <div class="seperator"></div>
		<div class="fourcol service">
<span>&#128187;</span>
<h1>Web</h1>
<ol>
<li>HTML 5 / CSS 3 Integration</li>
<li>Custom Websites</li>
<li>CMS Websites (ExpressionEngine)</li>
<li>Seo & Analytics</li>
<li>Mobile Friendly</li>
 </ol>
		</div>
		<div class="fourcol service">
	<span>&#128161;</span>
 <h1>Identity</h1>
 <ol>
<li>Research & Strategy</li>
<li>Brand Identity Development</li>
<li>Logo Design</li>
<li>Business Cards</li>
<li>Letterheads</li>
 </ol>
		</div>
		<div class="fourcol service last">
			 <span>&#128100;</span>
             <h1>About</h1>
 <p>We are a virtual design and development agency created by Matthew McMullen who is an accomplished designer. We design and develop your project in house, from start to finish.</p>
<p><a href="#contact" class="button">Interested?</a></p>
		</div>
	</div>
    </section>
</section>

<section id="work">
<section id="container">
<div class="row">
    <h5>Work</h5>
 <div class="seperator"></div>
    

 <article id="project">
 <div class="flexslider eightcol">          
<ul class="slides">
	<li>
		<img alt="sensible divorce mediation website" src="./img/god_list/sensible-new-slide.png" style="width: 700px; height: 415px;" /></li>
	<li>
		<img alt="sensible divorce mediation logo" src="./img/god_list/sensible-work-2.png" style="width: 700px; height: 415px;" /></li>
</ul>

        </div>
        
        <div class="text fourcol last">
	<h1>
	Sensible Divorce Mediation</h1>
<p>
	Sensible Divorce Mediation provides neutral third-party assistance to couples who require help resolving their divorce issues. We had the opportunity to brand their business which included:</p>
<ul>
	<li>
		Website Design &amp; Development</li>
	<li>
		Logo Design</li>
	<li>
		Illustration</li>
</ul>
<p>
	<a href="http://sensiblemediation.ca/" target="_blank"><strong>sensiblemediation.ca</strong></a></p>

        </div>
</article>

 <article id="project">
 <div class="flexslider eightcol">          
<ul class="slides">
	<li>
		<img alt="reginald magazine project" src="./img/god_list/reg-work-new.png" style="width: 700px; height: 415px;" /></li>
	<li>
		<img alt="reginald magazine website" src="./img/god_list/reg-work-2.png" style="width: 700px; height: 415px;" /></li>
	<li>
		<img alt="reginald magazine" src="./img/god_list/reg-work-3.png" style="width: 700px; height: 415px;" /></li>
	<li>
		<img alt="reginald magazine phone" src="./img/god_list/reg-work-4.png" style="width: 700px; height: 415px;" /></li>
	<li>
		<img alt="reginald magazine ipad" src="./img/god_list/reg-work-5.png" style="width: 700px; height: 415px;" /></li>
	<li>
		<img alt="reginald magazine logo" src="./img/god_list/reg-work-6.png" style="width: 700px; height: 415px;" /></li>
</ul>

        </div>
        
        <div class="text fourcol last">
	<h1>
	Reginald Magazine</h1>
<p>
	Reginald Magazine is a Halifax based fashion magazine. We had the opportunity to brand their business which included:</p>
<ul>
	<li>
		Website Design &amp; Development</li>
	<li>
		Content Management System</li>
	<li>
		Responsive ( Mobile Development )</li>
	<li>
		Logo</li>
	<li>
		Magazine</li>
</ul>
<p>
	<a href="http://reginaldmagazine.com" target="_blank"><strong>reginaldmagazine.com</strong></a></p>

        </div>
</article>

 <article id="project">
 <div class="flexslider eightcol">          
<ul class="slides">
	<li>
		<img alt="" src="./img/god_list/oea-new-slide.png" /></li>
	<li>
		<img alt="office of the employer advisor logo" src="./img/god_list/oea-work-1.png" style="width: 700px; height: 415px;" /></li>
	<li>
		<img alt="office of the employer advisor business cards" src="./img/god_list/oea-work-3.png" style="width: 700px; height: 415px;" /></li>
</ul>

        </div>
        
        <div class="text fourcol last">
	<h1>
	Office of the Employer Advisor</h1>
<p>
	The Office of the Employer Advisor Nova Scotia is a not for profit society that provides advocacy, communication and training for employers. We created a new identity for their business which included:</p>
<ul>
	<li>
		Website Design &amp; Development</li>
	<li>
		Content Management System</li>
	<li>
		Logo</li>
	<li>
		Stationary</li>
	<li>
		Promotional Video</li>
	<li>
		Marketing Piece</li>
</ul>
<p>
	<a href="http://oeans.ca" target="_blank"><strong>oeans.ca</strong></a></p>

        </div>
</article>

 <article id="project">
 <div class="flexslider eightcol">          
<ul class="slides">
	<li>
		<img alt="matthew mcmullen project" src="./img/god_list/matthew-work-new.png" /></li>
	<li>
		<img alt="matthew mcmullen ipad" src="./img/god_list/matthew-work-1.png" /></li>
	<li>
		<img alt="matthew mcmullen iphone" src="./img/god_list/matthew-work-2.png" style="width: 700px; height: 415px;" /></li>
</ul>

        </div>
        
        <div class="text fourcol last">
	<h1>
	Matthew McMullen Photography</h1>
<p>
	Aside from design, Matthew McMullen is a wedding and portrait photographer based in Halifax. We created a brand which included:</p>
<ul>
	<li>
		Website Design &amp; Development</li>
	<li>
		Mobile Development</li>
	<li>
		Content Management System</li>
	<li>
		Logo</li>
</ul>
<p>
	<a href="http://matthewmcmullen.ca" target="_blank"><strong>matthewmcmullen.ca</strong></a></p>

        </div>
</article>

 <article id="project">
 <div class="flexslider eightcol">          
<ul class="slides">
	<li>
		<img alt="aaron ewer website" src="./img/god_list/aaron-new-slide-2.png" style="width: 700px; height: 415px;" /></li>
	<li>
		<img alt="aaron ewer logo" src="./img/god_list/aaron-work-2.png" style="width: 700px; height: 415px;" /></li>
	<li>
		<img alt="aaron ewer slogan" src="./img/god_list/aaron-work-3.png" style="width: 700px; height: 415px;" /></li>
</ul>

        </div>
        
        <div class="text fourcol last">
	<h1>
	Aaron Ewer</h1>
<p>
	Aaron is realtor in Halifax, Nova Scotia. He was looking for a one page website that would be simple to navigate through. We created his brand from start to finish which included:</p>
<ul>
	<li>
		One Page Website</li>
	<li>
		Logo</li>
	<li>
		Branding</li>
	<li>
		Icon Illustration</li>
</ul>
<p>
	<a href="http://aaronewer.ca" target="_blank"><strong>aaronewer.ca</strong></a></p>

        </div>
</article>

 <article id="project">
 <div class="flexslider eightcol">          
<ul class="slides">
	<li>
		<img alt="interiors by melanie website" src="./img/god_list/interiors-new-slide-1.png" style="width: 700px; height: 415px;" /></li>
	<li>
		<img alt="interiors by melanie business cards" src="./img/god_list/melanie-work-2.png" /></li>
	<li>
		<img alt="interiors by melanie logo" src="./img/god_list/melanie-work-3.png" style="width: 700px; height: 415px;" /></li>
</ul>

        </div>
        
        <div class="text fourcol last">
	<h1>
	Interiors By Melanie</h1>
<p>
	Interiors by Melanie is a&nbsp;home design and decor business. We created a brand that reflected their style which included:</p>
<ul>
	<li>
		Website Design &amp; Development</li>
	<li>
		Content Management System</li>
	<li>
		Logo Refresh</li>
	<li>
		Stationary</li>
</ul>
<p>
	<a href="http://interiorsbymelanie.com" target="_blank"><strong>interiorsbymelanie.com</strong></a></p>

        </div>
</article>

 <article id="project">
 <div class="flexslider eightcol">          
<ul class="slides">
	<li>
		<a href="http://yknsun.ca" target="_blank"><img alt="ykn sunglasses and eyeglasses website" src="./img/god_list/ykn-slide-new.png" style="width: 700px; height: 415px;" /></a></li>
</ul>

        </div>
        
        <div class="text fourcol last">
	<h1>
	YKN Sunglasses &amp; Eyeglasses</h1>
<p>
	YKN is a sunglass and eyeglass boutique in Halifax. We created a one page website displaying their products and services and reflecting the atmosphere of their store.</p>
<ul>
	<li>
		One Page Website</li>
	<li>
		Photography</li>
</ul>
<p>
	<a href="http://yknsun.ca" target="_blank"><strong>yknsun.ca</strong></a></p>

        </div>
</article>

 <article id="project">
 <div class="flexslider eightcol">          
<ul class="slides">
	<li>
		<img alt="fraser and company website" src="./img/god_list/fraserco-new-slide.png" /></li>
	<li>
		<img alt="fraser and company logo" src="./img/god_list/fraserco-work-1.png" style="width: 700px; height: 415px;" /></li>
</ul>

        </div>
        
        <div class="text fourcol last">
	<h1>
	Fraser &amp; Company</h1>
<p>
	Fraser &amp; Company is a group of&nbsp;Chartered Accountants. We created a strong brand which included:</p>
<ul>
	<li>
		Website Design &amp; Development</li>
	<li>
		Logo</li>
	<li>
		Stationary</li>
</ul>
<p>
	<strong><a href="http://fraserco.ca" target="_blank">fraserco.ca</a></strong></p>

        </div>
</article>

 <article id="project">
 <div class="flexslider eightcol">          
<ul class="slides">
	<li>
		<img alt="far corners ministry website" src="./img/god_list/farcorners-new-slide.png" style="width: 700px; height: 415px;" /></li>
	<li>
		<img alt="far corners ministry logo" src="./img/god_list/far-work.png" style="width: 700px; height: 415px;" /></li>
</ul>

        </div>
        
        <div class="text fourcol last">
	<h1>
	Far Corners Ministry</h1>
<p>
	Far Corners Ministry is a non-for-profit company who trains pastors, builds churches and helps people in need from Northeast India. We created their brand which included:</p>
<ul>
	<li>
		Website Design &amp; Development</li>
	<li>
		Content Management System</li>
	<li>
		Logo</li>
	<li>
		Brochure</li>
</ul>
<p>
	<a href="http://farcornersministry.org" target="_blank"><strong>farcornersministry.org</strong></a></p>

        </div>
</article>

 <article id="project">
 <div class="flexslider eightcol">          
<ul class="slides">
	<li>
		<img alt="irri plus website" src="./img/god_list/irri-new-slide.png" /></li>
	<li>
		<img alt="irri plus logo" src="./img/god_list/irri-work-2.png" style="width: 700px; height: 415px;" /></li>
</ul>

        </div>
        
        <div class="text fourcol last">
	<h1>
	Irri Plus</h1>
<p>
	Irri Plus sets the benchmark for irrigation in Atlantic Canada. We created their brand which included:</p>
<ul>
	<li>
		Website Design &amp; Development</li>
	<li>
		Logo</li>
</ul>
<p>
	<a href="http://irriplus.com" target="_blank"><strong>irriplus.com</strong></a></p>

        </div>
</article>

 <article id="project">
 <div class="flexslider eightcol">          
<ul class="slides">
	<li>
		<a href="http://automotivesectorcouncil.ca/" target="_blank"><img alt="automotive sector council website" src="./img/god_list/automotive-new-slide.png" style="width: 700px; height: 415px;" /></a></li>
</ul>

        </div>
        
        <div class="text fourcol last">
	<h1>
	Automotive Sector Council</h1>
<p>
	The Automotive Sector Council is the #1 connection to Nova Scotia&#39;s automotive industry &amp; career information. We created their online presence which included:</p>
<ul>
	<li>
		Website Design &amp; Development</li>
	<li>
		Content Management System</li>
	<li>
		Calendar</li>
</ul>
<p>
	<a href="http://automotivesectorcouncil.ca" target="_blank"><strong>automotivesectorcouncil.ca</strong></a></p>

        </div>
</article>

 <article id="project">
 <div class="flexslider eightcol">          
<ul class="slides">
	<li>
		<a href="http://jonbryant.ca" target="_blank"><img alt="jon bryant website" src="./img/god_list/jon-new-slide.png" style="width: 700px; height: 415px;" /></a></li>
</ul>

        </div>
        
        <div class="text fourcol last">
	<h1>
	Jon Bryant</h1>
<p>
	Jon Bryant is a musician that has received a two-time iTunes Indie Spotlight Artist. We created a website that represented his music which included:</p>
<ul>
	<li>
		Website Design &amp; Development</li>
	<li>
		Online Store ( PayPal )</li>
	<li>
		HTML5 Music Player</li>
</ul>
<p>
	<a href="http://jonbryant.ca" target="_blank"><strong>jonbryant.ca</strong></a></p>

        </div>
</article>


 
      
      </div>
</section><!--container close -->
      </section>
     
<section id="contact">
<section id="container">
<div class="row">
    <h5>Contact</h5>
     <div class="seperator"></div>
     
     <div class="eightcol">
<form id="freeform" name="a" method="post" action="http://dashcreative.ca/"  >
<div class='hiddenFields'>
<input type="hidden" name="ACT" value="12" />
<input type="hidden" name="URI" value="index" />
<input type="hidden" name="XID" value="af0f08f9210415c8a7dc3dfbcff20029175e499b" />
<input type="hidden" name="status" value="open" />
<input type="hidden" name="return" value="" />
<input type="hidden" name="redirect_on_duplicate" value="" />
<input type="hidden" name="RET" value="http://dashcreative.ca" />
<input type="hidden" name="form_name" value="Contact Form" />
<input type="hidden" name="params_id" value="24580" />
<input type="hidden" name="site_id" value="1" />
</div>

    
	 <div>
		<label>Name:</label> *<br />
		<input class="form-input-field" type="text" value="" name="name" size="40"/><br /><br />

		<label>Email:</label> *<br />
		<input class="form-input-field" type="text" value="" name="email" size="40"/><br /><br />

		<label>Subject:</label> *<br />
		<input class="form-input-field" type="text" value="" name="subject" size="40"/><br /><br />

		<label>Message:</label> *<br />
		<textarea class="form-input-field" name="message" rows="8" cols="38"></textarea><br /><br />
                
                <label>Are you human?</label> *<br />
                <label><img src="http://dashcreative.ca/images/captchas/1360069125.41.jpg" width="140" height="30" style="border:0;" alt=" " /></label>
                <p><input class="form-input-field" type="text" name="captcha" /></p>
                <br /><br />
		<input class="form-input-button" type="reset" name="resetButton" value="Reset" />
		<input class="form-input-button" type="submit" name="submitButton" value="Submit" />
	</div>
</form>
     </div>
     
     <div class="fourcol last">
     <div class="info">
     <h1>1.902.488.2636</h1>
     <h1>matthew@dashcreative.ca</h1>
     </div>
     </div>
     
     </div>
</section>
</section>     
     
         <p class="center"><a class="totop tr-hover" href="#top">Top</a></p>

  <footer role="contentinfo">

    <section class="social">
      <ul>
        <li><a class="icon twitter" href="http://twitter.com/#!/dashbranding" target="_blank" title="Twitter">Twitter</a></li>
      </ul>
    </section><!-- .social -->
    <section class="copyright">
      <div>
        <p>&copy; 2013 Dash Creative Branding.</p>
      </div>
    </section><!-- .copyright -->

  </footer><!-- footer -->


<!-- Scripts -->
<script src="./js/scripts.js"></script>
<script src="./js/jquery.scrollTo.js"></script>
<script src="./js/jquery.nav.js"></script>
<script src="./js/jquery.easing.js"></script>
<script src="./js/jquery.mousewheel.js"></script>
<script defer src="./js/jquery.flexslider.js"></script>


</body>
</html>
    