{subtemplate common/header}
<!-- Styles -->
<link rel="stylesheet" type="text/css" media="all" href="source/plugin/wishing_hall/css/global.css" />
<link rel="stylesheet" href="source/plugin/wishing_hall/css/flexslider.css" type="text/css" media="screen" />
<link rel="stylesheet" href="source/plugin/wishing_hall/css/entypo.css" type="text/css" media="all" />
<!--[if IE 7]><link rel="stylesheet" type="text/css" href="source/plugin/wishing_hall/css/all-ie-only.css" /><![endif]-->
<!--[if IE 8]><link rel="stylesheet" type="text/css" href="source/plugin/wishing_hall/css/ie8.css" /><![endif]-->
<!--[if IE 9]><link rel="stylesheet" type="text/css" href="source/plugin/wishing_hall/css/ie8.css" /><![endif]-->
<!-- Fonts -->
<script type="text/javascript" src="source/plugin/wishing_hall/js/pes6eai.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<!-- 1140px Grid styles for IE -->
<!--[if lte IE 9]><link rel="stylesheet" href="source/plugin/wishing_hall/css/ie.css" type="text/css" media="screen" /><![endif]-->
<!-- The 1140px Grid -->
<link rel="stylesheet" href="source/plugin/wishing_hall/css/1140.css" type="text/css" media="screen" />
<!-- Jquery -->    
<script src="source/plugin/wishing_hall/js/jquery.min.js"></script> 
<!-- html5 -->
<script src="source/plugin/wishing_hall/js/html5.js"></script> 
<div id="pt" class="bm cl">
	<div class="z">
		<a href="./" class="nvhm" title="{lang homepage}">$_G[setting][bbname]</a><em>&rsaquo;</em><a href="plugin.php?id=wishing_hall:god_list">{lang wishing_hall:name}</a>
	</div> 
</div>
<section id="services">
<section id="container">
	<div class="row">
    <h5>许愿堂</h5>
     <div class="seperator"></div>
		<div class="fourcol service">
<em><img src="source/plugin/wishing_hall/img/computer.png" width="50%" /></en>
<h1>浏览器</h1>
<ol>
<li>本插件采用HTML5+CSS3开发</li>
<li>IE8及以下浏览器支持得不好</li>
<li>对低版本IE内核浏览器只保证兼容</li>
<li>如果您的浏览器显示得不够流畅</li>
<li>或者显示的效果不够多彩绚丽</li>
<li>我们为您推荐一些优秀的<a target="_blank" style="color:#ff7600;" href="source/plugin/wishing_hall/browser/ie.htm">浏览器</a></li>
 </ol>
		</div>
		<div class="fourcol service">
	<em><img src="source/plugin/wishing_hall/img/shuoming.png" width="50%" /></em>
 <h1>许愿说明</h1>
 <ol>
<li>下面有很多位神和大神级别的人</li>
<li>您可以通过相应的介绍了解他们</li>
<li>选出一位或者几位许下心愿</li>
<li>许愿时，需要给神奉上贡品并说出自己的心愿</li>
<li>贡品都是有价格的，选择时请慎重考虑</li>
<li>此外，对许愿堂的尊重，也是对您自己的尊重</li>
 </ol>
		</div>
		<div class="fourcol service last">
			 <em><img src="source/plugin/wishing_hall/img/us.png" width="50%" /></em>
             <h1>关于我们</h1><br /><br />
 <p>本插件由睿思技术团队开发，不对外部开放<br />如果您在使用上存在任何疑问或者功能上的建议，请点击下面的按钮，跟帖留言。</p>
<p><a href="http://rs.xidian.edu.cn/forum.php?mod=viewthread&tid=458580" target="_blank" class="button">疑问及建议</a></p>
		</div>
	</div>
    </section>
</section>

<section id="work">
<section id="container">
<div class="row">
    <h5>众神</h5>
 <div class="seperator"></div>
    

 <article id="project">
 <div class="flexslider eightcol">          
<ul class="slides">
	<li><img alt="" src="source/plugin/wishing_hall/img/images/2.png" style="width: 700px; height: 415px;" /></li>
	<li><img alt="" src="source/plugin/wishing_hall/img/images/1.png" style="width: 700px; height: 415px;" /></li>
    <li><img alt="" src="source/plugin/wishing_hall/img/images/4.png" style="width: 700px; height: 415px;" /></li>
    <li><img alt="" src="source/plugin/wishing_hall/img/images/3.png" style="width: 700px; height: 415px;" /></li>
</ul>

        </div>
        
        <div class="text fourcol last">
	<h1>佛祖  <span style="color:#F00;">筹码=>上传量</span></h1>
<p>
	懒散的人，没有收获，是潜意识中放弃追求，怨不得天，怪不了地。</p>
<ul>
	<li>
		得妙色音：多拜佛、罪障消灭、相貌会转变为好，声音和身体会庄严起来</li>
	<li>
		具大福德：拜佛的人、福德因缘自然而来、不求而得、诸事如意吉祥</li>
	<li>
		天人护持：拜佛之人、天龙八部常在左右拥护，不让邪魔外道及一切不好的事接近</li>
</ul>
<p>
	<strong><a href="plugin.php?id=wishing_hall:fo" style="color:#ff7600; font-size:24px;" target="_blank">开始许愿</a></strong></p>

        </div>
</article>

 <article id="project">
 <div class="flexslider eightcol">          
<ul class="slides">
	<li><img alt="" src="source/plugin/wishing_hall/img/images_ai/1.png" style="width: 700px; height: 415px;" /></li>
	<li><img alt="" src="source/plugin/wishing_hall/img/images_ai/2.png" style="width: 700px; height: 415px;" /></li>
	<li><img alt="" src="source/plugin/wishing_hall/img/images_ai/3.png" style="width: 700px; height: 415px;" /></li>
	<li><img alt="" src="source/plugin/wishing_hall/img/images_ai/4.png" style="width: 700px; height: 415px;" /></li>
    <li><img alt="" src="source/plugin/wishing_hall/img/images_ai/5.png" style="width: 700px; height: 415px;" /></li>
</ul>

        </div>
        
        <div class="text fourcol last">
	<h1>爱神  <span style="color:#F00;">筹码=>人品</span></h1>
<p>因为年轻，所以敢做，因为年轻，所以敢为了爱与世界为敌。</p>
<ul>
	<li>执子之手，与子偕老</li>
	<li>别等错过后才后悔，别等失去后才想挽回</li>
	<li>一个人，一辈子，一心一意</li>
	<li>爱情没有先来后到</li>
	<li>有些人不会忘，由于不舍得</li>
</ul>
<p>
	<strong><a href="plugin.php?id=wishing_hall:ai" style="color:#ff7600; font-size:24px;" target="_blank">开始许愿</a></strong></p>

        </div>
</article>

 <article id="project">
 <div class="flexslider eightcol">          
<ul class="slides">
	<li><img alt="" src="source/plugin/wishing_hall/img/images_kao/1.png"  style="width: 700px; height: 415px;"/></li>
	<li><img alt="" src="source/plugin/wishing_hall/img/images_kao/2.png" style="width: 700px; height: 415px;" /></li>
	<li><img alt="" src="source/plugin/wishing_hall/img/images_kao/3.png" style="width: 700px; height: 415px;" /></li>
    <li><img alt="" src="source/plugin/wishing_hall/img/images_kao/4.png" style="width: 700px; height: 415px;" /></li>
</ul>

        </div>
        
        <div class="text fourcol last">
	<h1>考神  <span style="color:#F00;">金币=>人品</span></h1>
<p>世界上最遥远的距离，不是生与死的距离，而是快要考试了，别人在复习，自己在预习。</p>
<ul>
	<li>逢考必过</li>
	<li>作弊该杀，挂科耻辱，士可杀而不可辱</li>
	<li>书山有路勤为径，学海无涯苦作舟</li>
	<li>有人考试靠实力，有人考试靠视力</li>
	<li>考试不作弊来年做学弟</li>
</ul>
<p>
	<strong><a href="plugin.php?id=wishing_hall:kao" style="color:#ff7600; font-size:24px;" target="_blank">开始许愿</a></strong></p>

        </div>
</article>


<article id="project">
 <div class="flexslider eightcol">          
<ul class="slides">
	<li><img alt="" src="source/plugin/wishing_hall/img/images_offer/1.png"  style="width: 700px; height: 415px;"/></li>
	<li><img alt="" src="source/plugin/wishing_hall/img/images_offer/2.png" style="width: 700px; height: 415px;" /></li>
	<li><img alt="" src="source/plugin/wishing_hall/img/images_offer/3.png" style="width: 700px; height: 415px;" /></li>
    <li><img alt="" src="source/plugin/wishing_hall/img/images_offer/4.png" style="width: 700px; height: 415px;" /></li>
    <li><img alt="" src="source/plugin/wishing_hall/img/images_offer/5.png" style="width: 700px; height: 415px;" /></li>
    <li><img alt="" src="source/plugin/wishing_hall/img/images_offer/6.png" style="width: 700px; height: 415px;" /></li>
</ul>

        </div>
        
        <div class="text fourcol last">
	<h1>offer神  <span style="color:#F00;">上传量=>人品</span></h1>
<p>迷路不是因为没有方向，而是方向太多</p>
<ul>
	<li>人生就像高压锅，压力太大的时候自己就熟了</li>
	<li>职员就像闪光照相机，不按一下是不会闪光的</li>
	<li>放弃该放弃的是无奈，放弃不该放弃的是无能</li>
	<li>不放弃该放弃的是无知，不放弃不该放弃的是执着</li>
</ul>
<p>
	<strong><a href="plugin.php?id=wishing_hall:offer" style="color:#ff7600; font-size:24px;" target="_blank">开始许愿</a></strong></p>

        </div>
</article>

<article id="project">
 <div class="flexslider eightcol">          
<ul class="slides">
	<li><img alt="" src="source/plugin/wishing_hall/img/images_miao/1.png"  style="width: 700px; height: 415px;"/></li>
	<li><img alt="" src="source/plugin/wishing_hall/img/images_miao/2.png" style="width: 700px; height: 415px;" /></li>
	<li><img alt="" src="source/plugin/wishing_hall/img/images_miao/3.png" style="width: 700px; height: 415px;" /></li>
    <li><img alt="" src="source/plugin/wishing_hall/img/images_miao/4.png" style="width: 700px; height: 415px;" /></li>
    <li><img alt="" src="source/plugin/wishing_hall/img/images_miao/5.png" style="width: 700px; height: 415px;" /></li>
    <li><img alt="" src="source/plugin/wishing_hall/img/images_miao/6.png" style="width: 700px; height: 415px;" /></li>
</ul>

        </div>
        
        <div class="text fourcol last">
	<h1>喵神  <span style="color:#F00;">上传量=>筹码</span></h1>
<p>貓咪情人就在門外等我了，我想出去"嘿嘿"，拜託讓我出去啦！我，我想要...</p>
<ul>
	<li>快餵我啦！肚子餓耶～</li>
	<li>來摸我嘛！喵喵要你疼咩～</li>
	<li>我正在奮力地耙貓沙，好把便便蓋起來。</li>
	<li>正在不爽啦，才從獸醫那兒回來，心有餘悸，怕怕～</li>
	<li>喂！可愛小鳥，別害怕！飛來我這兒嘛！</li>
</ul>
<p>
	<strong><a href="plugin.php?id=wishing_hall:miao" style="color:#ff7600; font-size:24px;" target="_blank">开始许愿</a></strong></p>

        </div>
</article>

<article id="project">
 <div class="flexslider eightcol">          
<ul class="slides">
	<li><img alt="" src="source/plugin/wishing_hall/img/images_shui/1.png"  style="width: 700px; height: 415px;"/></li>
	<li><img alt="" src="source/plugin/wishing_hall/img/images_shui/2.png" style="width: 700px; height: 415px;" /></li>
	<li><img alt="" src="source/plugin/wishing_hall/img/images_shui/3.png" style="width: 700px; height: 415px;" /></li>
    <li><img alt="" src="source/plugin/wishing_hall/img/images_shui/4.png"  style="width: 700px; height: 415px;"/></li>
	<li><img alt="" src="source/plugin/wishing_hall/img/images_shui/5.png" style="width: 700px; height: 415px;" /></li>
	<li><img alt="" src="source/plugin/wishing_hall/img/images_shui/6.png" style="width: 700px; height: 415px;" /></li>
    <li><img alt="" src="source/plugin/wishing_hall/img/images_shui/7.png" style="width: 700px; height: 415px;" /></li>
    <li><img alt="" src="source/plugin/wishing_hall/img/images_shui/8.png" style="width: 700px; height: 415px;" /></li>
</ul>

        </div>
        
        <div class="text fourcol last">
	<h1>睿思水神  <span style="color:#F00;">上传量=>金币</span></h1>
<p>我就是文武双全，才貌双绝，男女双修，德艺双馨的传说中的水神!</p>
<ul>
	<li>飞絮五月</li>
	<li>qizige</li>
	<li>时光漫步</li>
	<li>海妖精</li>
    <li>87144959</li>
    <li>bingoo</li>
    <li>无悔</li>
</ul>
<p>
	<strong><a href="plugin.php?id=wishing_hall:shui" style="color:#ff7600; font-size:24px;" target="_blank">开始许愿</a></strong></p>

        </div>
</article>
<article id="project">
 <div class="flexslider eightcol">          
<ul class="slides">
	<li><img alt="" src="source/plugin/wishing_hall/img/images_bt/1.png"  style="width: 700px; height: 415px;"/></li>
	<li><img alt="" src="source/plugin/wishing_hall/img/images_bt/2.gif" style="width: 700px; height: 415px;" /></li>
	<li><img alt="" src="source/plugin/wishing_hall/img/images_bt/3.png" style="width: 700px; height: 415px;" /></li>
    <li><img alt="" src="source/plugin/wishing_hall/img/images_bt/4.png" style="width: 700px; height: 415px;" /></li>
    <li><img alt="" src="source/plugin/wishing_hall/img/images_bt/5.png" style="width: 700px; height: 415px;" /></li>
    <li><img alt="" src="source/plugin/wishing_hall/img/images_bt/6.png" style="width: 700px; height: 415px;" /></li>
</ul>

        </div>
        
        <div class="text fourcol last">
	<h1>睿思BT大神  <span style="color:#F00;">金币=>上传量</span></h1>
<p>YY是我思考的方式，BT是我追求的境界</p>
<ul>
	<li>lich0000</li>
	<li>huangxu366</li>
	<li>三公子</li>
	<li>飞絮五月</li>
    <li>琅岚狼</li>
</ul>
<p>
	<strong><a href="plugin.php?id=wishing_hall:bt" style="color:#ff7600; font-size:24px;" target="_blank">开始许愿</a></strong></p>

        </div>
</article>
 <article id="project">
 <div class="flexslider eightcol">          
<ul class="slides">
<li><img alt="" src="source/plugin/wishing_hall/img/god_list/11.png" style="width: 700px; height: 415px;" /></li>
</ul>

        </div>
        
        <div class="text fourcol last">
	<h1>你心目中的下一位神</h1>
<p>
	下一位神是谁？由你来决定！</p>
<ul>
	<li>你心目中神的作用?</li>
	<li>你为何崇拜?</li>
</ul>
<p>
	<strong><a href="http://rs.xidian.edu.cn/forum.php?mod=viewthread&tid=460868" style="color:#ff7600; font-size:24px;" target="_blank">说出你心中的神</a></strong></p>

        </div>
</article>

</div>
</section><!--container close -->
      </section>     
<!-- Scripts -->
<script src="source/plugin/wishing_hall/js/scripts.js"></script>
<script src="source/plugin/wishing_hall/js/jquery.scrollTo.js"></script>
<script src="source/plugin/wishing_hall/js/jquery.nav.js"></script>
<script src="source/plugin/wishing_hall/js/jquery.easing.js"></script>
<script src="source/plugin/wishing_hall/js/jquery.mousewheel.js"></script>
<script defer src="source/plugin/wishing_hall/js/jquery.flexslider.js"></script>
<div style="clear:both;"></div>  
{subtemplate common/footer} 