{subtemplate common/header}
<!-- Styles -->
<link rel="stylesheet" type="text/css" media="all" href="source/plugin/wishing_hall/css/global.css" />
<link rel="stylesheet" href="source/plugin/wishing_hall/css/flexslider.css" type="text/css" media="screen" />
<link rel="stylesheet" href="source/plugin/wishing_hall/css/entypo.css" type="text/css" media="all" />
<!--[if IE 7]><link rel="stylesheet" type="text/css" href="source/plugin/wishing_hall/css/all-ie-only.css" /><![endif]-->
<!--[if IE 8]><link rel="stylesheet" type="text/css" href="source/plugin/wishing_hall/css/ie8.css" /><![endif]-->
<!--[if IE 9]><link rel="stylesheet" type="text/css" href="source/plugin/wishing_hall/css/ie8.css" /><![endif]-->
<!-- Fonts -->
<script type="text/javascript" src="source/plugin/wishing_hall/js/pes6eai.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<!-- 1140px Grid styles for IE -->
<!--[if lte IE 9]><link rel="stylesheet" href="source/plugin/wishing_hall/css/ie.css" type="text/css" media="screen" /><![endif]-->
<!-- The 1140px Grid -->
<link rel="stylesheet" href="source/plugin/wishing_hall/css/1140.css" type="text/css" media="screen" />
<!-- Jquery -->    
<script src="source/plugin/wishing_hall/js/jquery.min.js"></script> 
<!-- html5 -->
<script src="source/plugin/wishing_hall/js/html5.js"></script> 
<div id="pt" class="bm cl">
	<div class="z">
		<a href="./" class="nvhm" title="{lang homepage}">$_G[setting][bbname]</a><em>&rsaquo;</em><a href="plugin.php?id=wishing_hall:god_list">{lang wishing_hall:name}</a>
	</div> 
</div>
<section id="services">
<section id="container">
	<div class="row">
    <h5>许愿堂</h5>
     <div class="seperator"></div>
		<div class="fourcol service">
<span>&#128187;</span>
<h1>浏览器</h1>
<ol>
<li>本插件采用HTML5+CSS3开发</li>
<li>IE8及以下浏览器是不支持的</li>
<li>对低版本IE内核浏览器只保证兼容</li>
<li>如果您的浏览器显示得不够流畅</li>
<li>或者显示的不够绚丽</li>
<li>我们想你推荐一些优秀的<a target="_blank" style="color:#ff7600;" href="source/plugin/wishing_hall/browser/ie.htm">浏览器</a></li>
 </ol>
		</div>
		<div class="fourcol service">
	<span>&#128161;</span>
 <h1>许愿说明</h1>
 <ol>
<li>下面有很多位神或者可敬的人</li>
<li>您可以通过浏览对应的介绍</li>
<li>选出一位或者几位进行许愿或膜拜</li>
<li>许愿时，给神奉上贡品并说出自己的心愿</li>
<li>许愿时对神明尊重，也是对自己的尊重</li>
 </ol>
		</div>
		<div class="fourcol service last">
			 <span>&#128100;</span>
             <h1>关于我们</h1><br /><br />
 <p>本插件由睿思技术团队开发，不对外开放<br />如果您在使用上存在任何疑问或者功能上的建议，请点击下面的按钮，跟帖留言。</p>
<p><a href="http://rs.xidian.edu.cn/forum.php?mod=viewthread&tid=458580" target="_blank" class="button">疑问及建议</a></p>
		</div>
	</div>
    </section>
</section>

<section id="work">
<section id="container">
<div class="row">
    <h5>众神</h5>
 <div class="seperator"></div>
    

 <article id="project">
 <div class="flexslider eightcol">          
<ul class="slides">
	<li>
		<img alt="sensible divorce mediation website" src="source/plugin/wishing_hall/img/god_list/sensible-new-slide.png" style="width: 700px; height: 415px;" /></li>
	<li>
		<img alt="sensible divorce mediation logo" src="source/plugin/wishing_hall/img/god_list/sensible-work-2.png" style="width: 700px; height: 415px;" /></li>
        <li>
		<img alt="sensible divorce mediation logo" src="source/plugin/wishing_hall/img/god_list/sensible-work-2.png" style="width: 700px; height: 415px;" /></li>
</ul>

        </div>
        
        <div class="text fourcol last">
	<h1>佛祖</h1>
<p>
	懒散的人，没有收获，是潜意识中放弃追求，怨不得天，怪不了地。</p>
<ul>
	<li>
		得妙色音：多拜佛、罪障消灭、相貌会转变为好，声音和身体会庄严起来。</li>
	<li>
		具大福德：拜佛的人、福德因缘自然而来、不求而得、诸事如意吉祥。</li>
	<li>
		天人护持：拜佛之人、天龙八部常在左右拥护，不让邪魔外道及一切不好的事接近，事事如意。 </li>
</ul>
<p>
	<strong><a href="plugin.php?id=wishing_hall:sign" style="color:#ff7600; font-size:24px;" target="_blank">开始许愿</a></strong></p>

        </div>
</article>

 <article id="project">
 <div class="flexslider eightcol">          
<ul class="slides">
	<li>
		<img alt="reginald magazine project" src="source/plugin/wishing_hall/img/god_list/reg-work-new.png" style="width: 700px; height: 415px;" /></li>
	<li>
		<img alt="reginald magazine website" src="source/plugin/wishing_hall/img/god_list/reg-work-2.png" style="width: 700px; height: 415px;" /></li>
	<li>
		<img alt="reginald magazine" src="source/plugin/wishing_hall/img/god_list/reg-work-3.png" style="width: 700px; height: 415px;" /></li>
	<li>
		<img alt="reginald magazine phone" src="source/plugin/wishing_hall/img/god_list/reg-work-4.png" style="width: 700px; height: 415px;" /></li>
	<li>
		<img alt="reginald magazine ipad" src="source/plugin/wishing_hall/img/god_list/reg-work-5.png" style="width: 700px; height: 415px;" /></li>
	<li>
		<img alt="reginald magazine logo" src="source/plugin/wishing_hall/img/god_list/reg-work-6.png" style="width: 700px; height: 415px;" /></li>
</ul>

        </div>
        
        <div class="text fourcol last">
	<h1>爱神</h1>
<p>
	别等到错过后才去后悔，别等到失去后才想挽回。</p>
<ul>
	<li>
		Website Design &amp; Development</li>
	<li>
		Content Management System</li>
	<li>
		Responsive ( Mobile Development )</li>
	<li>
		Logo</li>
	<li>
		Magazine</li>
</ul>
<p>
	<strong><a href="plugin.php?id=wishing_hall:sign" style="color:#ff7600; font-size:24px;" target="_blank">开始许愿</a></strong></p>

        </div>
</article>

 <article id="project">
 <div class="flexslider eightcol">          
<ul class="slides">
	<li>
		<img alt="" src="source/plugin/wishing_hall/img/god_list/oea-new-slide.png" /></li>
	<li>
		<img alt="office of the employer advisor logo" src="source/plugin/wishing_hall/img/god_list/oea-work-1.png" style="width: 700px; height: 415px;" /></li>
	<li>
		<img alt="office of the employer advisor business cards" src="source/plugin/wishing_hall/img/god_list/oea-work-3.png" style="width: 700px; height: 415px;" /></li>
</ul>

        </div>
        
        <div class="text fourcol last">
	<h1>考神</h1>
<p></p>
<ul>
	<li>逢考必过</li>
	<li>
		Content Management System</li>
	<li>
		Logo</li>
	<li>
		Stationary</li>
	<li>
		Promotional Video</li>
	<li>
		Marketing Piece</li>
</ul>
<p>
	<strong><a href="plugin.php?id=wishing_hall:sign" style="color:#ff7600; font-size:24px;" target="_blank">开始许愿</a></strong></p>

        </div>
</article>

 <article id="project">
 <div class="flexslider eightcol">          
<ul class="slides">
	<li>
		<a href="http://yknsun.ca" target="_blank"><img alt="ykn sunglasses and eyeglasses website" src="source/plugin/wishing_hall/img/god_list/ykn-slide-new.png" style="width: 700px; height: 415px;" /></a></li>
</ul>

        </div>
        
        <div class="text fourcol last">
	<h1>你心目中的下一位神</h1>
<p>
	YKN is a sunglass and eyeglass boutique in Halifax. We created a one page website displaying their products and services and reflecting the atmosphere of their store.</p>
<ul>
	<li>
		One Page Website</li>
	<li>
		Photography</li>
</ul>
<p>
	<strong><a href="plugin.php?id=wishing_hall:sign" style="color:#ff7600; font-size:24px;" target="_blank">说出你心中的神</a></strong></p>

        </div>
</article>

</div>
</section><!--container close -->
      </section>     
<!-- Scripts -->
<script src="source/plugin/wishing_hall/js/scripts.js"></script>
<script src="source/plugin/wishing_hall/js/jquery.scrollTo.js"></script>
<script src="source/plugin/wishing_hall/js/jquery.nav.js"></script>
<script src="source/plugin/wishing_hall/js/jquery.easing.js"></script>
<script src="source/plugin/wishing_hall/js/jquery.mousewheel.js"></script>
<script defer src="source/plugin/wishing_hall/js/jquery.flexslider.js"></script>
<div style="clear:both;"></div>  
{subtemplate common/footer} 