.flex-direction-nav  { display:none; }
section#banner h4 { width:680px; height:145px; text-indent:-999999px; margin:0 auto; background: url('../img/god_list/ie-h4.png'); }
section#services .service span { display:none; }