<!--{block return}-->
<div style="border:1px solid red; width:960px; margin: 0 auto;">
<p>{lang sample:showdisplay}</p>

<!--{if $_G[uid]}-->
<table>
	<tr>
		<td>
			<!--{if in_array($_G[adminid], array(1, 2, 3))}-->
				{if $_G[adminid] == 1}
				管理员
				{elseif $_G[adminid] == 2}
				超级版主
				{else}
				版主
				{/if}
			<!--{/if}-->
			$_G[username]
		</td>
	</tr>
	<tr>
		<td><a href="home.php?mod=space&uid={$_G[uid]}">我的空间</a></td>
		{if $_G[client]}<td>我的IP:$_G[clientip]</td>{/if}
	</tr>
</table>
<!--{else}-->
<p>游客,您好!</p>
<p>
<a href="member.php?mod=logging&action=login" onclick="showWindow('login', this.href);">登录</a>
<a href="member.php?mod=register">注册</a>
</p>
<!--{/if}-->

</div>
<!--{/block}-->