/* Reset Styles
================ */
html, body, div, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, ../img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}
em {font-style: italic;}

@-webkit-keyframes reset { 0% {opacity: 0;} 100% {opacity: 0;}}
@-webkit-keyframes fade-in {0% {opacity: 0;} 60% {opacity: 0;} 100% {opacity: 1;}}
@keyframes fadein {from {opacity:0;}to {opacity:1;}}
@-moz-keyframes fadein {from {opacity:0;}to {opacity:1;}}
@-webkit-keyframes fadein {from {opacity:0;}to {opacity:1;}}
@-o-keyframes fadein {from {opacity:0;}to {opacity: 1;}}​

/* Fonts
================ */
@font-face {
    font-family: 'entypo';
    src: url('http://dashcreative.ca/fonts/entypo.eot');
    src: url('http://dashcreative.ca/fonts/entypo.eot?#iefix') format('embedded-opentype'),
         url('http://dashcreative.ca/fonts/entypo.woff') format('woff'),
         url('http://dashcreative.ca/fonts/entypo.ttf') format('truetype'),
         url('http://dashcreative.ca/fonts/entypo.svg#entypo') format('svg');
    font-weight: normal;
    font-style: normal;
-webkit-text-stroke: 0.35px
}


/* Button
================ */
.button {display: inline-block; white-space: nowrap; background-color: #ddd; background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc)); background-image: -webkit-linear-gradient(top, #eee, #ccc); background-image: -moz-linear-gradient(top, #eee, #ccc); background-image: -ms-linear-gradient(top, #eee, #ccc); background-image: -o-linear-gradient(top, #eee, #ccc); background-image: linear-gradient(top, #eee, #ccc); border: 1px solid #777; padding: .5em 2.5em; margin: 2em; font-family: "proxima-nova",sans-serif; font-weight:600; text-transform:uppercase; text-decoration: none; color: #333;text-shadow: 0 1px 0 rgba(255,255,255,.8);-moz-border-radius: .2em;-webkit-border-radius: .2em; border-radius: .2em; -moz-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3); -webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3); box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);}
.button:hover{background-color: #eee; background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#ddd)); background-image: -webkit-linear-gradient(top, #fafafa, #ddd); background-image: -moz-linear-gradient(top, #fafafa, #ddd); background-image: -ms-linear-gradient(top, #fafafa, #ddd); background-image: -o-linear-gradient(top, #fafafa, #ddd); background-image: linear-gradient(top, #fafafa, #ddd);}
.button:active {-moz-box-shadow: 0 0 4px 2px rgba(0,0,0,.1) inset; -webkit-box-shadow: 0 0 4px 2px rgba(0,0,0,.1) inset; box-shadow: 0 0 4px 2px rgba(0,0,0,.1) inset; position: relative; top: 1px;}
	

/* General
================ */
html {font-family: "proxima-nova",sans-serif; font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; -webkit-tap-highlight-color: rgba(0,0,0,0);}
body {font-size: 14px; margin:0; padding:0;}
::-moz-selection {background: #E34022; color: #ffffff; text-shadow: none;}
::selection {background: #E34022; color: #ffffff; text-shadow: none;}

/* Type
================ */
h1 {margin: 10px 0 0; font-size: 24px; font-size: 300; color: #fff;}
h1 strong {font-weight: 600;}
h2 {color: #565656; font-size: 26px; line-height: 37px; font-weight: 300;}
h2 a {color: #565656; border-bottom: 1px dashed #ccc; white-space: nowrap;}
h2 a:hover {background: #f5f5f5;}
h3 {margin: 0 0 10px; color: #565656; font-size: 23px; font-weight: 600; font-family: "proxima-nova",sans-serif;}
a {text-decoration: none;}
h5 { font-weight:600; font-size:30px; letter-spacing:normal; font-family: "proxima-nova",sans-serif; margin:0 auto; padding: 0 0 5px 0; text-align:center; color:#E34022; text-transform:uppercase; line-height:30px; }
.seperator { display: block; margin: 5px auto 50px auto; width: 35px; background: #EAEAEA; height: 4px; }

/* Header
================ */
header { width:100%; margin:0; padding:30px 0; z-index: 100; background: white; border-bottom: 1px solid #F2F2F2; position: fixed; left: 0; right: 0; }
header section#container { max-width:1140px; width:100%; margin:0 auto; padding:0; }
header a.logo.totop:hover { opacity:.8; cursor:pointer;}
header a.logo.totop { width: 110px; height: 45px; float: left; background: url("../img/god_list/logo.png") no-repeat; text-indent: 100%; white-space: nowrap; overflow: hidden; z-index:101; margin: 0 0 0 20px; padding: 0; display: inline-block; color: #000; -webkit-backface-visibility: hidden; -webkit-border-radius: 0; -moz-border-radius: 0; -o-border-radius: 0; border-radius: 0;}
header ul.nav { width:auto; display:inline-block; float:right; margin: 10px 0 0 0; padding-right:20px; }
header ul.nav li { display:inline-block; padding:5px 0 5px 80px; color: #565656; font-size: 20px; line-height: 20px; letter-spacing:normal; font-weight: 600; font-family: "proxima-nova",sans-serif; text-align:right; }

/* Banner
================ */
section#banner { height:auto; width:100%; margin: 75px 0 0 0; padding:150px 0; float:left;zoom:1; position: relative; height: auto; border-bottom: 1px solid #E1E1E1; background:#fafafa; background:-webkit-gradient(linear, left top, left bottom, color-stop(0.5, #fafafa), to(#f2f2f2)); background:-moz-linear-gradient(top, #fafafa 50%, #f2f2f2);}
section#banner h5 { font-weight:600; line-height:1.1em; font-size:5em; letter-spacing:-2px; font-family: "proxima-nova",sans-serif; margin:0 auto; padding: 0; text-align:center; color:#565656; text-transform:none; width:100%; animation: fadein 3s; -moz-animation: fadein 3s; -webkit-animation: fadein 3s; -o-animation: fadein 3s; }
section#banner h4 { font-family: "entypo"; font-weight:400; line-height:23px; color: #E34022; font-size: 14em; text-align: center; display: block; letter-spacing:0px; text-shadow:#FFF 1px 1px 1px; animation: fadein 3s; -moz-animation: fadein 3s; -webkit-animation: fadein 3s; -o-animation: fadein 3s;}
section#banner h4 span.icon { font-family: "entypo"; line-height:185px; color: #E34022; font-size:1.3em; text-align: center; display:inline-block; letter-spacing:0px;}
section#banner h4 span { font-family: "entypo"; line-height: 0em; color: #E34022; font-size: 1em; text-align: center; letter-spacing:-16px;}

/* Services
================ */
section#services { margin: 0; padding:150px 0 150px 0; float:left; width:100%; background:#FFF; }
section#services ul li { float:left; max-width:490px; width:100%; height:auto;}
section#services ul li p { margin:0; padding:0; line-height:24px; }
section#services ul li h1 { color: #565656; font-size: 24px; font-weight: 600; font-family: "proxima-nova",sans-serif; }
section#services .service ol { margin-bottom:20px; margin-top:20px; }
section#services .service ol li { height:auto; line-height: 34px; text-align:center; border-bottom:1px solid #ededed; font-size:16px; }
section#services .service h1 { color: #565656; font-size: 20px; text-transform:uppercase; font-weight: 800; font-family: "proxima-nova",sans-serif; text-align:center; line-height:29px; }
.service { margin-top: 50px; }
section#services .service p { margin:0; padding:0; line-height:24px; text-align:center; font-size:16px; }
section#services .service span { font-family: "entypo"; line-height: 80px; color: #E34022; font-size: 6em; text-align: center; display: block;}
section#services .service img { text-align:center; margin:0 auto; display:block; }


/* Work
================ */
section#work {margin:150px 0 0 0; padding:150px 0 150px 0; width: 100%; background:#FFF; float:left; background:#fafafa; background:-webkit-gradient(linear, left top, left bottom, color-stop(0.5, #fafafa), to(#f2f2f2)); background:-moz-linear-gradient(top, #fafafa 50%, #f2f2f2); border-top: 1px solid #E1E1E1; border-bottom: 1px solid #E1E1E1;}
section#work article {float:left; width:100%; border-bottom:1px solid #e1e1e1; margin:0; padding:80px 0;}
section#work article#project .text h1 { color: #565656; font-size: 24px; font-weight: 800; font-family: "proxima-nova",sans-serif; text-align:left; line-height: 24px; }
section#work article#project .text p {font-size: 16px; line-height:21px font-weight: 400; line-height: 24px; color: #797979; font-family: "proxima-nova",sans-serif;}
section#work article#project .text p b {font-size: 16px; line-height:21px font-weight: 800; line-height: 24px; color: #797979; font-family: "proxima-nova",sans-serif; }
section#work article#project .text ul { margin:20px 0; }
section#work article#project .text ul li { color: rgba(0, 0, 0, .45); font-size: 16px; font-weight: 400; line-height: 34px; list-style:inside; list-style-image:url(../img/god_list/tick.png); color: #797979; font-family: "proxima-nova",sans-serif; border-bottom: 1px solid #e1e1e1;}


/* Contact
================ */
section#contact { margin:0; padding:150px 0 0 0; float:left; width:100%; background:#FFF; }
section#contact .info h1 { font-family: "proxima-nova",sans-serif; font-size:18px; color:#E34022; border-bottom:1px solid #e1e1e1; padding:10px 0; }


/* Form
================ */
form > div { line-height: 0.8em; font-size: 1.1em; }
form > div label { font-family: "proxima-nova",sans-serif; position: relative; font-size: 16px; letter-spacing: normal; display: inline-block; padding-bottom: 6px; color:#999; font-weight:800;}
form > div textarea.form-input-field, form > div input.form-input-field[type="text"], form > div input.form-input-button[type="submit"], form > div input.form-input-button[type="reset"] { font-size: 16px; font-weight:600; font-family: "proxima-nova",sans-serif; padding: 15px 10px; position: relative; z-index: 10; -webkit-appearance: none; -webkit-border-radius: 0px; -webkit-transition: all 300ms; -moz-transition: all 300ms; -ms-transition: all 300ms; -o-transition: all 300ms; transition: all 300ms; width: 93%; border: none; border: 1px solid #E1E1E1; background: transparent; -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#07000000,endColorstr=#07000000)"; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#07000000,endColorstr=#07000000); zoom: 1; background-color: rgba(0, 0, 0, 0.05); outline: none;}

.ie7 form > div textarea.form-input-field, 
.ie7 form > div input.form-input-field[type="text"],
.ie8 form > div textarea.form-input-field, 
.ie8 form > div input.form-input-field[type="text"]{width: 95%;}

form > div input.form-input-button[type="submit"], form > div input.form-input-button[type="reset"] {width: auto; margin-right: 10px; cursor: pointer; font-size: 16px; color:#999;}
form > div input.form-input-button[type="submit"]:hover, form > div input.form-input-button[type="reset"]:hover { background-color: rgba(255,255,255,0.45) }
form > div textarea.form-input-field:hover, form > div input.form-input-field[type="text"]:hover { background-color: rgba(0,0,0,0.05) }
form > div textarea.form-input-field:focus, form > div input.form-input-field[type="text"]:focus {outline: none; background-color: rgba(0,0,0,0.0);}
form > div .focusEdit { background-color: rgba(255,255,255,0.45) !important }
form > div .editComplete { background-color: rgba(170,255,170,0.12) !important }

/* ToTop
================ */
.totop {margin: 60px 0 30px; padding: 9px 10px 10px 41px; display: inline-block; background: url('http://dashcreative.ca/img/icon_totop.svg') no-repeat 10px 6px; color: #000; font-size: 16px; font-weight: 600; position: relative; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; -webkit-backface-visibility: hidden;}
.no-svg .totop {background-image: url('../img/god_list/icon_totop.png');}
.totop:hover {-webkit-transform: translateY(-3px); -moz-transform: translateY(-3px); -ms-transform: translateY(-3px); -o-transform: translateY(-3px); transform: translateY(-3px);}


/* Footer
================ */
footer { background: #F2F2F2; border-top: 1px solid #E1E1E1; float: left; width: 100%; }
/* -- Social */
.social {padding: 28px 0; margin: 0 auto; width: 22px; height: 18px;}
.social ul {float: left; width:22px; height:18px;}
.social ul li {float: left; width:22px; height:18px;}
/* -- Icons */
.social .icon {width: 22px; height: 18px; margin:0; display: block; background-repeat: no-repeat; background-position: center center; text-indent: 100%; white-space: nowrap; overflow: hidden;}
.social .icon:hover {-webkit-transform: translateY(-4px); -moz-transform: translateY(-4px); -ms-transform: translateY(-4px); -o-transform: translateY(-4px); transform: translateY(-4px);}
.social .facebook {background-image: url('../img/god_list/icon_facebook.png');}
.social .twitter {background-image: url('../img/god_list/icon_twitter_new.png');}

/* -- Copyright */
.copyright {padding: 13px 0; background:#333; color: #8d8d8d; font-size: 14px; width:100%; float:left;}
.copyright p { margin: 0 auto; padding: 0; width: 230px; text-align:center; }


/* Tools
================ */
.center {text-align: center;}
/* -- Clerfix */
.cf {*zoom: 1;}
.cf:before,
.cf:after {display: table; content: "";}
.cf:after {clear: both;}

/* Links */
a:link {color:#58595B; text-decoration:none;}      /* unvisited link */
a:visited {color:#58595B; text-decoration:none;}  /* visited link */
a:hover {color:#E34022; text-decoration:none;}  /* mouse over link */
a:active {color:#E34022; text-decoration:none;}  /* selected link */

/* Animations
================ */
.anim {-webkit-animation-duration: .85s; -webkit-animation-timing-function: ease-in-out; -moz-animation-duration: .85s; -moz-animation-timing-function: ease-in-out; -ms-animation-duration: .85s; -ms-animation-timing-function: ease-in-out; -o-animation-duration: .85s; -o-animation-timing-function: ease-in-out; animation-duration: .85s; animation-timing-function: ease-in-out;}

a:link, a:hover,
.social .icon,
.tr-hover {-webkit-transition: all .2s ease; -moz-transition: all .2s ease; -ms-transition: all .2s ease; -o-transition: all .2s ease; transition: all .2s ease;}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
header { width:100%; margin:0; padding:15px 0; background: white; border-bottom: 1px solid #F2F2F2; position: relative; }
header a.logo.totop { width: 110px; height: 45px; background: url("../img/god_list/logo.png") no-repeat; text-indent: 100%; white-space: nowrap; overflow: hidden; z-index:101; margin:0 auto; float:none; text-align:center; display:block;}
header ul.nav { display:none; }
section#banner { margin:0; padding:50px 0;}
section#work article#project .text { margin-top:60px; }
section#work article {padding:20px 0;}
.flex-direction-nav { display:none; }
section#banner h5 { font-size:36px; line-height:36px; width:auto !important; }
section#banner h4 { font-family: "entypo"; font-size: 6em; padding:0; letter-spacing:-10px; line-height:0em;}
section#banner h4 span.icon { font-family: "entypo"; line-height:1em; }
.button { display:none; }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
header a.logo.totop {margin: 0 20px;}
section#banner h5 { font-size:4em; line-height:45px; width:auto !important; padding:0; margin:0; }
section#banner h4 { font-family: "entypo"; font-size: 15em; line-height:45px; padding:0; margin:0; }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
header a.logo.totop {margin: 0;}
section#banner h5 { font-size:4em; line-height:45px; width:auto !important; padding:0; margin:0; }
section#banner h4 { font-size: 15em; line-height:45px; padding:0; margin:0; }
#container { padding-left: 8px !important; padding-right: 8px !important;}
}